{{template "admin" .}}

{{define "page-title"}}
    Dashboard calendar
{{end}}

{{define "content"}}

{{$now := index .Data "now"}}
{{$rooms := index .Data "rooms"}}
{{$d_in_m := index .IntMap "days_in_month"}}
{{$cur_month := index .StringMap "this_month"}}
{{$cur_year := index .StringMap "this_year"}}

    <div class="col-md-12">
        <div class="text-center">
            <h3>{{formatDate $now "January"}} {{formatDate $now "2006"}}</h3>
            <h2>{{index .IntMap "days_in_month"}}</h2>
                
        </div>

        <div class="float-left">
            <a class="btn btn-sm btn-outline-secondary" 
            href="/admin/reservation-calendar?y={{index .StringMap "prev_year"}}&m={{index .StringMap "prev_month"}}">&lt;&lt</a>
        </div>

        <div class="float-right">
            <a class="btn btn-sm btn-outline-secondary" 
            href="/admin/reservation-calendar?y={{index .StringMap "next_year"}}&m={{index .StringMap "next_month"}}">&gt;&gt</a>  
        </div>

        <div class="clearfix"></div>

        {{range $rooms}}

        {{$roomID := .ID}}
        {{$blocks := index $.Data (printf "block_map_%d" .ID) }}
        {{$reservations := index $.Data (printf "reservation_map_%d" .ID) }}

        <h4 class="mt-4">{{ .RoomName}}</h4>

        <div class="table-response">

            <table class="table table-bordered table-sm">
                <tr class="table-dark">
                    {{range $index := iterate $d_in_m}}
                    <td class="text-center">
                        {{addInt $index 1}}
                    </td>
                    {{end}}
                </tr>

                <tr>
                    {{range $index := iterate $d_in_m}}
                    <td class="text-center">
                        <input 
                         {{if gt (index $blocks (printf "%s-%s-%d" $cur_month $cur_year (addInt $index 1))) 0 }}

                         checked
                         name="remove_block_{{$roomID}}_{{printf "%s-%s-%d" $cur_month $cur_year (addInt $index 1)}}"
                         value="{{index $blocks (printf "%s-%s-%d" $cur_month $cur_year (addInt $index 1))}}"
                          
                         {{else}}

                         name="add_block_{{$roomID}}_{{printf "%s-%s-%d" $cur_month $cur_year (addInt $index 1)}}"

                         {{end}}
                         
                         type="checkbox">

                    </td>
                    {{end}}
                </tr>

            </table>
        </div>

        {{end}}

    </div>
{{end}}