{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">Search for Availability</h1>

            <form action="/search-availability" method="post" novalidate class="needs-validation">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="row">
                    <div class="col">
                        <div class="row" id="reservation-dates">
                            <div class="col-md-6">
                                <label for="start_date">Starting Date</label>
                                <input required class="form-control" type="text" name="start_date" id="start_date" placeholder="Arrival">
                                <small id="startDateHelp" class="form-text text-muted">Enter your starting date in YYYY-MM-DD format</small>
                            </div>
                            <div class="col-md-6">
                                <label for="end_date">Ending Date</label>
                                <input required class="form-control" type="text" name="end_date" id="end_date" placeholder="Departure">
                                <small id="endDateHelp" class="form-text text-muted">Enter your ending date in YYYY-MM-DD format</small>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <button id="searchButton" type="submit" class="btn btn-primary">Search Availability</button>
            </form>

        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    //Date picker logic
    const elem = document.getElementById('reservation-dates');
    const rangepicker = new DateRangePicker(elem, {
    // ...options
    format:"yyyy-mm-dd",
    //prevent from choosing date from the past
    minDate: new Date(),
    });
</script>

{{end}}